<h1>Editing slurper</h1>

<% form_for(@slurper) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @slurper %> |
<%= link_to 'Back', slurpers_path %>